<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../lib/vue.js"></script>
    <link rel="stylesheet" href="../lib/bootstrap-3.3.7.css">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <cmt-box @func='addComment'></cmt-box>
        <ul class="list-group">
            <li class="list-group-item" v-for="item in list" :key='item.id'>
                <span class="badge">评论人：{{ item.user }}</span>
                {{item.content}}
            </li>
        </ul>
    </div>
    <template id="temp">
        <div>
            <div class="form-group">
                <label>评论人：</label>
                <input type="text" class='form-control' v-model='user'>
            </div>

            <div class="form-group">
                <label>评论内容：</label>
                <textarea class='form-control' v-model='content'></textarea>
            </div>

            <div class="form-group">
                <input type="button" value="发表评论" class='btn btn-primary' @click='comment'>
            </div>
        </div>
    </template>
    <script>
        var commentBox = {
            template: "#temp",
            data: function () {
                return {
                    user: "",
                    content: ""
                }
            },
            methods: {
                comment() {
                    /* 
                      
                      1.评论数据村到哪里去？？？ 存放到了localStorage中
                      2.先组织出一个最新的评论数据对象
                      3.把第二步中得到的评论对象保存到localStorage中
                          3.1  localStorage中只支持存放字符串数据, 要先调用JSON.stringfy
                          3.2  在保存最新的评论数据之前，要从localStorage获取之前的评论数据。转化为一个数组对象。然后吧最新的数据push进去
                          3.3  如果获取到的localStorage中的评论字符串为空，则可以返回一个'[]'让JSON.parse去转换
                          3.4  把最新评论列表数组再次调用JSON.stringfy 转化为 数组字符串然后调用localStringfy。
                          
                  */
                    var comment = { id: Date.now(), user: this.user, content: this.content }

                    var list = JSON.parse(localStorage.getItem('cmts') || '[]')
                    list.unshift(comment)
                    localStorage.setItem('cmts', JSON.stringify(list))

                    this.user = this.content = ''
                    console.log(localStorage.getItem("cmts"));
                    this.$emit('func')
                    localStorage.clear();
                }
            }
        }
        var vm = new Vue({
            el: "#app",
            data: {
                list: [
                    { id: Date.now(), user: '李白', content: '举杯邀明明，对影成三人' },
                    { id: Date.now(), user: '李清照', content: '莫道不消魂，帘卷西风，人比黄花瘦' },
                    { id: Date.now(), user: '马致远', content: '枯藤老树昏鸦，小桥流水人家' }

                ]
            },
            methods: {
                addComment() {
                    this.list = JSON.parse(localStorage.getItem('cmts') || '[]')
                }
            },
            components: {
                'cmt-box': commentBox
            }
        })
    </script>
</body>

</html>